/*
  For the icon "X"
*/
.delete-icon {
    color: gainsboro;
    cursor: pointer;

  &:hover {
    color: black;
    cursor: pointer;
  }

}
/*
  For the loader
*/

$side_color: #f3f3f3;
$spin_color: #19b3da;
$loader_size: 120px;

.loading {
  position: fixed;
  z-index: 999;
  height: $loader_size;
  width: $loader_size;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $spin_color;
  border-bottom: 16px solid $spin_color;
  width: $loader_size;
  height: $loader_size;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}